.container {
  padding: 0 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.link {
  padding-top: 3rem;
}

.button {
  padding: 0.5rem 2rem;
  background-color: inherit;
  border: 1px solid #DDDDDD;
  color: #8B8B8B;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.images {
  width: 20rem;
  object-fit: cover;
  margin-top: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.images:hover {
  transform: perspective(500px) rotateX(5deg) rotateY(5deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

.title {
  text-align: center;
  color: #282828;
}


@media (max-width: 1200px) {
 .imageContainer {
  display: flex;
  justify-content: space-around;
}
}
