.container {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image {
  width: 34rem;
  height: 35rem;
  object-fit: cover;
}

.miniImgWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.miniImg {
  width: 12.5rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  font-weight: 700;
}

.readMore {
  cursor: pointer;
  display: block;
  font-weight: 500;
  text-decoration: underline;
  padding-top: 1rem;
}

.description {
  color: #282828;
}

.priceBlock {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding-left: 1rem;
}

.newPrice {
  font-size: 4rem;
  font-weight: 700;
  color: #282828;
}

.oldPrice {
  text-decoration: line-through;
  padding-top: 1.5rem;
  font-size: 2.5rem;
}

.discount {
  background-color: #0D50FF;  
  color: white; 
  height: 2rem;
  width: 3.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.quantity {
  display: flex;
  gap: 1rem;
}


@media (max-width: 1200px) {
  .container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
  .miniImg {
    display: none;
  }
}