* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  /* outline: 2px dashed red; */
}

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #282828;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  color: white;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

button:hover {
  background-color: #282828;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  box-shadow: 0 0 12px rgba(102, 102, 100, 0.7);
}

button:active {
  transform: translateY(0) scale(0.98);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  .container {
    padding: 0 20px;
  }
}