.section {
  background-color: #2451C6;
  margin: 1.5rem;
  border-radius: 12px;
}

.title {
  text-align: center;
  color: white;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 32rem;
}

.input {
  background-color: #2451C6;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 1rem;
  outline: none;
}

.input:focus {
  border: 2px solid #ffd700; 
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.5);
}

.input::placeholder {
  color: white;
}

.btn {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
}

.btn:hover:not(:disabled) {
  background-color: #444;
}

.submitted {
  background-color: #F1F3F4;
  color: #0D50FF;
}

.btn.submitted:disabled {
  background-color: #F1F3F4;
  color: #0D50FF;
}


@media (max-width: 1200px) {

.title {
  font-size: 2rem;
}

.formContainer {
  gap: 0.5rem;
  max-width: 20rem;
  width: 100%;
}

.input {
  padding: 0.5rem;
  outline: none;
}

.btn {
  padding: 0.5rem;
  margin: 0.5rem;

}

.imgPromo {
  width: 25rem;
 }
}

@media (max-width: 992px) {
  .imgPromo {
  width: 23rem;
 }
}