.onSubmitForm {
  background: #F1F3F4;
  border-radius: 12px;
  width: 34rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-weight: 700;
}

.formInput {
  width: 30rem;
  padding: 1rem;
  border: none;
  font-size: 1.1rem;
  outline: none;
  border-radius: 4px;
}

.formInput:focus {
  border: 2px solid #ffd700; 
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.5);
}

.formBtn {
  background-color: #0D50FF;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

.error {
  color: rgb(250, 90, 90);
  font-size: 1rem;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailsPrice {
  font-size: 3rem;
  color: #282828;
  font-weight: 700;
}
