.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  background: #0D50FF;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 32rem;
  position: relative;
}

.modalContent {
  color: white;
}

.closeBtn {
  position: absolute;
  color: white;
  top: 1.5rem;
  right: 1.5rem;
  background: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.closeBtn:hover {
  background: #5884f5;
}